@import '../../../styles.scss';

.white-space {
  position: fixed;
  width: 100%;
  height: 7.3rem;
  background-color: $white;
}

.shopping-cart {
  @include displayFlex(column, start, center, 1rem);
  min-height: calc(100vh - 8rem);
  padding-top: 7rem;
  padding-bottom: 2rem;


  .shopping-cart__title {
    @include displayFlex(row, space-between, center);
    width: 90%;

    h2 {
      width: 30%;
      font-size: 2.5rem;
    }

    .shopping-cart__title__buttons {
      width: 70%;
      @include displayFlex(row, flex-end, flex-end, 1.5rem);
    }

    button {
      padding: 0;
      box-shadow: none;
      background-color: transparent;
      color: $main-color;
      text-decoration: underline;
    }

    button:hover {
      color: $secondary-color;
    }

    button:active {
      color: $main-color;
    }
  }

  .shopping-cart__cart {
    @include displayFlex(column-reverse, start, center);
    width: 100%;

    .shopping-cart__container {
      @include displayFlex(column, start, center, 1.5rem);
      width: 90%;

      .empty-cart {
        color: $main-color-variation;
        font-size: 2.5rem;
        font-weight: 600
      }

      .cart-item {
        @include displayFlex(row, space-between, center);
        min-width: 100%;
        min-height: 12rem;
        padding: 0.5rem;
        border-radius: 2rem;
        box-shadow: $box-shadow;

        .cart-item__image-container {
          @include displayFlex(row, center, center);
          width: 25%;
        }

        img {
          width: 7rem;
          height: 7rem;
          border: solid 0.05rem $grey;
          border-radius: 50%;
          object-fit: fit;
        }

        .cart-item__content {
          width: 75%;
          padding: 0.5rem;

          h2 {
            font-size: 2rem;
            font-weight: 600
          }

          p {
            font-size: 1.8rem
          }

          span {
            @include displayFlex(row, center, center, 1.5rem);
            width: 100%;

            button {
              width: 4rem;
              background-color: $white;
              color: $grey-variation;
            }

            p {
              font-size: 1.8rem;
              font-weight: 600
            }
          }
        }
      }
    }

    .shopping-cart__resume-order {
      @include displayFlex(row, space-between, center);
      width: 90%;
      padding: 2rem 0;
      border-top: solid 0.1rem $grey;

      h2 {
        font-size: 2rem;
      }

      p {
        font-size: 1.8rem;
      }

      button {
        background-color: $white;
        color: $secondary-color;
      }
    }
  }
}

.dark-mode {
  background-color: $main-color-variation;

  .shopping-cart__title {
    h2 {
      color: $white;
    }

    .shopping-cart__title__buttons {
      button {
        color: $white;
      }

      button:hover {
        color: $secondary-color;
      }

      button:active {
        color: $white;
      }
    }
  }

  .shopping-cart__cart {
    .shopping-cart__container {
      .empty-cart {
        color: $white;
      }

      .cart-item {
        box-shadow: $box-shadow-variation;

        .cart-item__content {
          h2 {
            color: $white;
          }

          p {
            color: $white;
          }

          span {
            button {
              background-color: $main-color;
              color: $enfasis-color;
            }

            p {
              color: $white;
            }
          }
        }
      }
    }

    .shopping-cart__resume-order {
      border-top: solid 0.1rem $white;

      h2 {
        color: $white;
      }

      p {
        color: $white;
      }

      button {
        background-color: $main-color;
        color: $enfasis-color;
      }
    }
  }
}

@media screen and (min-width: 1080px) {
  .shopping-cart {
    @include displayFlex(column, start, center, 1rem);
    min-height: calc(100vh - 7rem);
    padding-top: 7rem;

    .shopping-cart__title {
      @include displayFlex(row, space-between, center);
      width: 90%;

      h2 {
        font-size: 2.8rem;
      }
    }

    .shopping-cart__cart {
      @include displayFlex(row, center, start, 5rem);
      width: 90%;
      padding-top: 2rem;
      border-top: solid 0.1rem $grey;

      .shopping-cart__container {
        @include displayFlex(column, start, center, 3rem);
        width: 50%;

        .cart-item {
          @include displayFlex(row, space-between, center);
          min-width: 100%;

          .cart-item__image-container {
            @include displayFlex(row, center, center);
            width: 10rem;
            height: 10rem;
            margin-left: 2rem;
            border-radius: 5rem;
            overflow: hidden;
            background-color: $white;
            object-fit: cover;

            .cart-item__image {
              height: 70%;
              border: none;
              border-radius: 0;
            }
          }

          .cart-item__content {
            width: 80%;

            p {
              margin-top: 0.5rem
            }
          }
        }
      }

      .shopping-cart__resume-order {
        @include displayFlex(row, center, center, 25%);
        width: 30%;
        height: 15rem;
        padding: 1.5rem;
        border: none;
        border-radius: 2rem;
        box-shadow: $box-shadow;

        h2 {
          font-size: 2.4rem;
        }

        p {
          margin-top: 0.5rem;
          font-size: 2rem;
        }
      }
    }
  }

  .dark-mode {
    background-color: $main-color-variation;

    .shopping-cart__cart {
      border-top: solid 0.05rem $white;

      .shopping-cart__resume-order {
        box-shadow: $box-shadow-variation;
      }
    }
  }
}