@import '../../../styles.scss';

.card-container {
  @include displayFlex(column, space-between, center);
  width: 32rem;
  max-width: 32rem;
  height: 52rem;
  max-height: 52rem;
  padding: 2rem 2rem 4rem;
  border-radius: 20rem;
  box-shadow: $box-shadow;
  cursor: pointer;

  .card-image__container {
    @include displayFlex(row, center, center);
    width: 25rem;
    height: 25rem;
    box-shadow:  0 0 0.4rem RGBA(0, 0, 0, 0.1);
    border-radius: 50%;
    background-color: $white;;
    overflow: hidden;
    background-color: white;

    .card-image__image {
      width: 60%;
      object-fit: cover;
    }
  }

  .card-information__container {
    @include displayFlex(row, center, center, 0.8rem);
    max-width: 100%;
    text-align: center;

    .card-information__name {
      max-height: 4rem;
      font-size: 2rem;
      overflow: hidden;
    }

    .card-information__description {
      max-height: 3.2rem;
      font-size: 1.8rem;
      overflow: hidden;
    }
  }

  .card-information__price {
    font-size: 2.5rem;
    font-weight: 700;
    color: $enfasis-color;
  }

  .card-information__buttons {
    @include displayFlex(row, center, center, 2rem);
    width: 100%;

    .card-button {
      width: 4rem;
      background-color: white;
      color: $secondary-color;
    }
  }
}

.dark-mode {
  color: $white;
  background-color: $main-color-variation;
  box-shadow: $box-shadow-variation;

  .card-information__price {
    font-size: 2.5rem;
    font-weight: 700;
    color: $secondary-color;
  }

  .card-information__buttons {
    .card-button {
      background-color: $main-color;
      color: $enfasis-color;
    }
  }
}