<div [ngClass]="inputScreenModeII ? 'card-container' : 'card-container dark-mode'">
  <div class="card-image__container">
    <img class="card-image__image" [src]="productInfo.image" [alt]="productInfo.title" [title]="productInfo.title">
  </div>
  <div class="card-information__container">
    <h2 class="card-information__name">{{productInfo.title}}</h2>
    <p class="card-information__description">{{productInfo.description}}</p>
  </div>
  <p class="card-information__price">{{productInfo.price | currency}}</p>
  <div class="card-information__buttons">
    <button class="btn card-button" title="See details"><fa-icon [icon]="icons.moreInfoIcon"></fa-icon></button>
    <button class="btn card-button" title="Add to cart" (click)="addProductToCart(productInfo.id)"><fa-icon [icon]="icons.shoppingCartIcon"></fa-icon></button>
  </div>
</div>
