<header [ngClass]="inputScreenMode ? '' : 'dark-mode'">
  <img class="logo" [src]="inputScreenMode ? '../../../assets/logos/logo_light.png' : '../../../assets/logos/logo_dark.png'" alt="Orix store" routerLink="">
  <div class="navBar-container">
    <button class="menu-button" *ngIf="screenSize <= 768" (click)="displayMobileMenu()"><fa-icon class="menu-icon" [icon]="icons.barsMenuIcon"></fa-icon></button>
    <nav *ngIf="screenSize > 768">
      <ul>
        <li>
          <a routerLink="sign-up">Sign up</a>
        </li>
        <li>
          <a routerLink="log-in">Log in</a>
        </li>
        <li>
          <a routerLink="shopping-cart">
            <span>
              <fa-icon class="cart-shopping-icon" [icon]="icons.shoppingCartIcon"></fa-icon>
            </span>
          </a>
        </li>
      </ul>
    </nav>
  </div>
</header>


