@import '../../../styles.scss';

.dark-mode {
  background-color: $main-color-variation;

  .menu-button {
    color: $secondary-color;
  }

  ul {
    a {
      color: $white;
    }

    .cart-shopping-icon {
      color: $secondary-color;
    }
  }
}

header {
  @include displayFlex(row, space-between, center);
  position: fixed;
  width: 100%;
  max-width: 100vw;
  height: 7rem;
  padding: 1rem 2.5rem;
  background-color: $white;
  overflow: hidden;

  .logo {
    height: 80%;
  }

  .menu-button {
    @include displayFlex(row, center, center);
    padding: 0.5rem;
    border: none;
    font-size: 2.4rem;
    background-color: transparent;
    color: $secondary-color;
  }

  ul {
    @include displayFlex(row, space-between, center, 1.5rem);
    list-style: none;

    a {
      font-size: 2rem;
      font-weight: 500;
      color: $main-color;
      text-decoration: none;
    }

    .cart-shopping-icon {
      color: $secondary-color;
    }
  }
}