<!-- <main [ngClass]="screenMode ? 'light-mode' : 'dark-mode'">
  <app-home *ngIf="currentRoute === '/' && showMobileNavMenu === false" [inputScreenMode]="screenMode"></app-home>
  <router-outlet *ngIf="currentRoute !== '/' && showMobileNavMenu  === false"></router-outlet>
  <app-footer (onChangeScreenMode)="setScreenMode($event)"></app-footer>
</main> -->

<app-header [inputScreenMode]="screenMode" (onDisplayMobileMenu)="setShowMobileNavMenu($event)"></app-header>
<app-mobile-nav-menu *ngIf="showMobileNavMenu" [inputScreenMode]="screenMode" (onDisplayMobileMenu)="setShowMobileNavMenu($event)"></app-mobile-nav-menu>
<router-outlet></router-outlet>