<section class="login">
  <div class="login__card">
    <h2>Log in</h2>
    <form class="login__container">
      <div class="ipt-container login__email-input">
        <label class="lbl" for="user-email">Email</label>
        <input class="ipt" type="email" id="user-email">
      </div>
      <div class="ipt-container login__password-input">
        <label class="lbl" for="user-password">Password</label>
        <input class="ipt" type="password" id="user-password">
      </div>
      <button class="btn login__submit-button" type="submit">Log in</button>
    </form>
  </div>
</section>
<app-footer></app-footer>