@import '../../../../styles.scss';

.login {
  @include displayFlex(row, center, center);
  height: calc(100vh - 8rem);
  max-height: calc(100vh - 8rem);
  padding-top: 7rem;

  .login__card {
    @include displayFlex(column, center, center, 2rem);
    width: 80%;

    h2 {
      font-size: 2.4rem;
    }

    .login__container {
      @include displayFlex(column, center, center, 2rem);

      .login__submit-button {
        color: $secondary-color;
        background-color: $white;
      }
    }
  }
}

.dark-mode {
  background-color: $main-color-variation;
  color: $white;

  .login__card {

    .login__container {
      label {
        color: $white;
      }

      input {
        color: $white;
        background-color: $main-color-variation;
        box-shadow: $box-shadow-variation;
      }

      .login__submit-button {
        color: $enfasis-color;
        background-color: $main-color;
      }
    }
  }
}

@media screen and (min-width: 1080px) {
  .login {
    height: calc(100vh - 7rem);
    max-height: calc(100vh - 7rem);
    padding: 0;

    .login__card {
      @include displayFlex(column, center, center, 2rem);
      width: 40rem;
      max-width: 40rem;
      height: 52rem;
      max-height: 52rem;
      border-radius: 20rem;
      box-shadow: $box-shadow;
    }
  }

  .dark-mode {
    background-color: $main-color-variation;
    color: $white;

    .login__card {
      box-shadow: $box-shadow-variation;

      .login__container {
        .login__submit-button {
          color: $enfasis-color;
          background-color: $main-color;
        }
      }
    }
  }
}