<section class="menu-mobile">
  <button class="btn" (click)="displayMobileMenu()"><fa-icon [icon]="icons.exitIcon"></fa-icon></button>
  <img src="" alt="" />
  <nav>
    <ul>
      <li>
        <a
          routerLink="sign-up"
          >Sign up</a
        >
      </li>
      <li>
        <a
          routerLink="log-in"
          >Log in</a
        >
      </li>
      <li>
        <a
          routerLink="shopping-cart"
        >
          <span>
            <fa-icon
              class="cart-shopping-icon"
              [icon]="icons.shoppingCartIcon"
            ></fa-icon>
          </span>
        </a>
      </li>
    </ul>
  </nav>
</section>
