$main-color: #1f2541;
$main-color-variation: #121520;
$secondary-color: #F83A26;
$enfasis-color: #FFC344;
$grey: #D9D9D9;
$grey-variation: #a3a3a3;
$translucent-grey: RGBA(0, 0, 0, 0.15);
$white: #FFFFFF;
$font-family: 'League Spartan', sans-serif;
$box-shadow: 0 0 0.6rem RGBA(0, 0, 0, 0.15);
$box-shadow-variation: 0 0 0.8rem RGBA(0, 0, 0, 0.8);

@mixin displayFlex($flex-direction: row, $justify-content, $align-items, $gap: 0, $wrap: wrap) {
  display: flex;
  flex-direction: $flex-direction;
  justify-content: $justify-content;
  align-items: $align-items;
  gap: $gap;
  flex-wrap: $wrap;
}

html {
  font-family: $font-family;
  font-size: 10px;
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.btn {
  @include displayFlex(row, center, center);
  height: 4rem;
  padding: 0.8rem 2rem;
  border: none;
  border-radius: 2rem;
  font-family: $font-family;
  font-weight: 600;
  font-size: 1.8rem;
  box-shadow: $box-shadow;
}

.btn:hover {
  cursor: pointer;
  box-shadow: 0 0 0.6rem RGBA(49, 180, 255, 0.3);
}

.btn:active {
  cursor: pointer;
  box-shadow: 0 0 0.6rem RGBA(49, 180, 255, 0.3);
}

a {
  text-decoration: none;
}

.ipt-container {
  @include displayFlex(row, space-between, center);
  width: 100%;
}

.lbl {
  width: 30%;
  font-size: 1.8rem;
  font-weight: 600;
  color: $main-color-variation;
}

.ipt {
  width: 70%;
  height: 3.5rem;
  padding: 0.8rem 2rem;
  border: none;
  border-radius: 2rem;
  font-family: $font-family;
  font-size: 1.8rem;
  font-weight: 400;
  color: $main-color-variation;
  outline: none;
  box-shadow: $box-shadow;
}

.ipt:hover {
  box-shadow: 0 0 0.6rem RGBA(49, 180, 255, 0.3);
}

.ipt:focus {
  box-shadow: 0 0 0.6rem RGBA(49, 180, 255, 0.3);
}

