$main-color: #2D2942;
$secondary-color: #F83A26;
$enfasis-color: #FFC344;
$grey: #D9D9D9;
$white: #FFFFFF;
$font-family: 'League Spartan', sans-serif;
$box-shadow: 0 0 0.6rem RGBA(0, 0, 0, 0.1);

@mixin displayFlex($flex-direction: row, $justify-content, $align-items, $gap: 0, $wrap: wrap) {
  display: flex;
  flex-direction: $flex-direction;
  justify-content: $justify-content;
  align-items: $align-items;
  gap: $gap;
  flex-wrap: $wrap;
}

html {
  font-family: $font-family;
  font-size: 10px;
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.btn {
  @include displayFlex(row, center, center);
  height: 4rem;
  padding: 0.8rem 2rem;
  border: none;
  border-radius: 2rem;
  font-family: $font-family;
  font-weight: 600;
  font-size: 1.8rem;
}

.btn:hover {
  cursor: pointer;
}

a {
  text-decoration: none;
}